:root {
    /* Colors */
    /* Primary */
    /* Text */
    --verydarkdesaturatedblue: hsl(238, 29%, 16%);
    --softred: hsl(14, 88%, 65%);

    /* Gradient */
    /* Background gradient: */
    --softviolet: hsl(273, 75%, 66%);
    --softblue: hsl(240, 73%, 65%);

    /* Neutral */
    /* Text */
    --verydarkgrayishblue: hsl(237, 12%, 33%);
    --darkgrayishblue: hsl(240, 6%, 50%);

    /* Dividers */
    --lightgrayishblue: hsl(240, 5%, 91%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    min-height: 100vh;
    height: auto;
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-image: linear-gradient(var(--softviolet), var(--softblue));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative;
    top: -115px; */
    /* z-index: -1; */
}

.pic {
    width: 250px;
    height: 200px;
    background-image: url('./images/illustration-woman-online-mobile.svg');
    /* background: url('./images/bg-pattern-mobile.svg'); */
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    top: 75px;
    z-index: 1;
}

.pic::before {
    content: '';
    height: 110px;
    background-image: url('./images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 120px;
    bottom: 0;
    right: 0;
    left: 0;
    /* z-index: 1; */
}

/* .pic::after {
    content: '';
    background-image: url('./images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 240px;
    bottom: 0;
    right: 0;
    left: 90px;
} */

.container {
    width: 33.75rem;
    height: auto;
    margin: 0 auto;
    border-radius: 2.5rem;
    background-color: white;
    padding: 130px 0 50px;
    /* position: relative; */
}

/* .container::before {
    content: '';
    width: 25rem;
    height: 25rem;
    background-image: url('./images/illustration-woman-online-mobile.svg'), url('./images/bg-pattern-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    float:;
    position: absolute;
    left: 40px;
    bottom: 395px;
} */

.title_faq {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--verydarkdesaturatedblue);
    padding: 0 0 10px;
}

.faqs {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.question_div {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid var(--lightgrayishblue);
}

.menu_title {
    color: var(--verydarkdesaturatedblue);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_title h2 { 
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

.panel {
    width: 87%;
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--darkgrayishblue);
    display: none;
    transition: 0.5s;
}

.accordion-1,
.accordion-2,
.accordion-3,
.accordion-4,
.accordion-5 {
    display: none;
}

#accordion-1:checked ~ .menu_title > img,
#accordion-2:checked ~ .menu_title > img,
#accordion-3:checked ~ .menu_title > img,
#accordion-4:checked ~ .menu_title > img,
#accordion-5:checked ~ .menu_title > img {
    transform: rotate(180deg);
}

#accordion-1:checked ~ .menu_title > h2,
#accordion-2:checked ~ .menu_title > h2,
#accordion-3:checked ~ .menu_title > h2,
#accordion-4:checked ~ .menu_title > h2,
#accordion-5:checked ~ .menu_title > h2 {
    color: var(--verydarkdesaturatedblue);
    font-weight: 700;
}

#accordion-1:checked ~ .panel,
#accordion-2:checked ~ .panel,
#accordion-3:checked ~ .panel,
#accordion-4:checked ~ .panel,
#accordion-5:checked ~ .panel {
    display: block;
}

/* footer {
    width: 100%;
    height: auto;
    text-align: center;
} */

.attribution { 
    width: 100%;
    height: auto;
    margin-top: 5px;
    text-align: center;
    font-size: 11px; 
}

.attribution a { 
    /* color: hsl(228, 45%, 44%);  */
    color: #ccc;
}

@media screen and (min-width: 1024px) {
    /* body {
        background-repeat: no-repeat;
        background-size: cover;
    } */

    .pic_body {
        width: 400px;
        height: 300px;
        background-image: url('./images/illustration-woman-online-desktop.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: calc(50% - 170px);
        left: calc(50% - 515px);
    }

    .pic_body::before {
        content: '';
        width: 1000px;
        height: 980px;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: -430px;
        left: -600px;
        bottom: 0px;
    }

    .pic_body::after {
        content: '';
        width: 190px;
        height: 190px;
        background-image: url('./images/illustration-box-desktop.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 110px;
        left: -50px;
    }

    main {
        width: 100%;
        height: auto;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 950px;
        width: 90%;
        height: auto;
        padding: 80px 0;
        margin-top: 0;
        display: flex; 
        justify-content: flex-end;
        align-items: center;
    }

    .faqs {
        width: 50%;
        margin: 0;
        padding: 0 80px 0 0;
    }

    .title_faq {
        text-align: left;
    }

    .pic {
        display: none;
    } 
    
    .pic::before {
        display: block;
    }

    .menu_title:hover h2 {
        font-weight: 700;
        color: var(--softred);
    }
}